@import "../../styles/variables";

.carousel_container {
    padding:0;
    margin-bottom: 24px;
    margin-top: 70px;


    @media only screen and (min-width: $breakpoint-tablet) {
        margin-bottom: 35px;
        margin-top: 0;
    }
    @media only screen and (min-width: $breakpoint-desktop) {
        
    }


    .carousel_thumb_container {
        width: 92px;

        img {
            width: 100%;
            max-width: 82px;
            margin-bottom: 10px;
            display: block;
            cursor: pointer;
        }
    }

    .owl-dots {
        margin-top:-20px !important;
        position:relative;

        @media only screen and (min-width: $breakpoint-tablet) {
            display: none;
        }
    }
}

